* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.nbar {
  background: #151515;
}
.logoImage img {
  width: 100px;
}
.navform input {
  border: none !important;
  background: none !important;
  outline: none !important;
  color: white;
}
.landingpageText h2 {
  letter-spacing: 10px;
}

.landingpageText h6 {
  letter-spacing: 5px;
}

.landingBGimage {
  background: url(./Image/landingImage.jpg) center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: auto;
}
.landingpageText {
  padding-top: 250px;
}
.landingBTN {
  border-radius: 1px !important;
  letter-spacing: 2px;
}
.item img {
  width: 330px !important;
  height: 400px !important;
}
.item {
  color: white;
  font-size: 20px;
  letter-spacing: 2px;
}
.owl-item {
  width: 350px !important;
}
.owl-dots,
.owl-nav {
  display: none;
}

.cardcss img {
  width: 330px !important;
  height: 400px !important;
}
.cartbtn button {
  border: none !important;
  font-size: 15px;
}
.subdiv1 img {
  width: 100%;
  height: 550px;
}
.subdiv2 button {
  letter-spacing: 3px;
  font-weight: 600;
  font-size: 13px;
}
.backImage {
  width: 100%;
  height: 100vh;
  background: url(./Image/banner-2.jpg) no-repeat center;
  background-attachment: fixed;
}

.Productlandig {
  width: 100%;
  height: 100vh;
  background: url(./Image/banner-2.jpg) no-repeat center;
  background-attachment: fixed;
}
.centerHeading {
  padding-top: 300px;
}
.centerHeading h1 {
  letter-spacing: 3px;
}
.centerHeading button {
  letter-spacing: 2px;
  border-radius: 1px;
}
.Size img {
  width: 330px !important;
  height: 300px !important;
}
.text span {
  font-size: 12px;
}
.Size h5 {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.Size p {
  font-size: 12px;
  letter-spacing: 2px;
}
.Size button {
  border: none;
  padding-left: -50px !important;
  letter-spacing: 2px;
  font-size: 16px;
  background: transparent;
}
.itemLogo img {
  width: 125px !important;
  height: 30px !important;
}
.owlW .owl-item {
  width: 250px !important;
}
.footerBack {
  background: #151515;
}
.logofooter img {
  width: 150px;
  margin-left: -40px !important;
}
.subdivfootertwo1 p,
.subdivfootertwo1 span {
  font-size: 14px;
}
.maindivfootertwo li {
  list-style-type: none;
  margin-left: -30px;
  cursor: pointer;
}
.subdivfootertwo5 h3 {
  margin-top: -100px !important;
}
.subdivfootertwo5 p {
  font-size: 12px !important;
}
.maindivfooterone,
.maindivfootertwo {
  border-bottom: 0.1px solid #292929;
}
.canvasCss img {
  width: 100px !important;
}
.navtocart button {
  padding: 10px 100px;
  border: none;
  display: inline-block;
}
.cartback {
  height: 100vh;
}
.cartlist {
  width: 45%;
  height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
}
.imageCart img {
  width: 100px;
}
.desktop{ 
  display: block;
}
.mobliephone{
  display: none;
}

@media screen and (max-width: 500px) {
  .desktop{
    display: none;
  }
  .mobliephone{
    display: block;
  }
.navbar-toggler-icon{
  color: white!important;
}
.subdiv1 img {
  width: 90%;
  height: 350px;
  margin: 20px;
}

.centerHeading {
  padding-top: 240px;
}
.subdivfootertwo5 input {
  width: 180px;
}
.subdivfooter1 {
  display: none;
}
.imageCart img {
  width: 50px;
}
h5{
  font-size: 12px!important;  
}

.cardHeading h3 {
  display: inline;
  font-size: 16px!important;
}
.cartback {
  height: auto;
}
.cartflex{
  display: block;
}

}
